$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-mediumish: 46.875em; // 750px
$bp-small: 41.25em; //660px
$bp-quite-small: 34.375em; // 550px
$bp-very-small: 28.125em; //450px
$bp-extremely-small: 25em; //400x
$bp-extremely-smallx2: 18.75em; //300px

html {
  font-size: 62.5%;
  box-sizing: inherit;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 45%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 42.5%;
  }

  @media only screen and (max-width: $bp-very-small) {
    font-size: 37.5%;
  }

  @media only screen and (max-width: $bp-extremely-small) {
    font-size: 32.5%;
  }

  @media only screen and (max-width: $bp-extremely-smallx2) {
    font-size: 25%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}
