//////////////////////////////////////////
///  NAV BAR

.nav {
  &-img-container {
    display: flex;
    align-items: center;
  }

  &-img {
    width: 7rem;
  }

  &-link-container {
    display: flex;
    flex-grow: 1;
    font-size: 2.4rem;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      list-style: none;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }

  &-link {
    color: white;
    font-weight: 500;
    margin-right: 4rem;
    text-decoration: none;
  }

  &-link:hover {
    color: lightgray;
  }

  &-link:active {
    color: lightgray;
  }

  &-link6 {
    margin-right: 10rem;
  }

  ul {
    list-style: none;
  }
}

/////////////////////////////////////////////
///  REACTIVE HAMBURGER NAV

.nav-toggle {
  &-nav {
    position: fixed;
    display: flex;
    max-height: 0;
    overflow: hidden;
    top: 12vh;
    left: 75vw;
    width: 25vw;
    background-color: #f51743;
    justify-items: center;
    transition: all 0.5s ease-out;
  }

  &-link {
    color: white;
    font-weight: 500;
    margin-right: 4rem;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 2rem;
    margin-left: 1rem;
  }

  &-list {
    margin-top: 1rem;
  }

  &-link:hover {
    color: lightgray;
  }

  &-button .bar {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    transition: transform 0.2s ease-out;
  }

  &-button.open .bar:nth-child(1) {
    transform: translateY(1.05rem) rotate(45deg);
  }

  &-button.open .bar:nth-child(2) {
    opacity: 0;
  }

  &-button.open .bar:nth-child(3) {
    transform: translateY(-1.05rem) rotate(-45deg);
  }

  &-active {
    max-height: 100%;
    padding: 2rem 0;
  }

  &-button {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 4rem;
    height: 2.5rem;

    @media only screen and (max-width: 800px) {
      display: flex;
    }
  }
}

////////////////////////////////////
/// HERO

.hero {
  &-heading {
    color: white;
    font-size: 4.8rem;
    font-family: "Titillium Web";
    font-weight: 300;
  }

  &-button {
    background-color: transparent;
    padding: 2rem;
    color: white;
    font-size: 3.2rem;
    font-family: "Titillium Web";
    font-weight: 300;
    border: 3px white solid;
    margin-top: 4rem;
  }

  &-button:hover {
    transform: scale(1.05);
  }

  &-button:active {
    color: lightgrey;
    transform: scale(1.1);
    border: 3.5px lightgrey solid;
  }
}

/////////////////////////////////////////////////////////
/// CTA

.CTA {
  &-header {
    font-size: 4rem;
    color: white;
    font-family: "Titillium Web";
    font-weight: 400;
    margin-right: 4rem;
  }

  &-header-span {
    font-size: 4.2rem;
    font-weight: 600;
    color: white;
  }

  &-button {
    background-color: transparent;
    padding: 1rem;
    color: white;
    font-size: 3.2rem;
    font-family: "Titillium Web";
    font-weight: 400;
    border: 3px white solid;
  }

  &-button:active {
    transform: scale(1.1);
    border: 3.5px lightgrey solid;
  }
}

/////////////////////////////////
/// PERSONAL TRAINERS

.personal-trainer {
  &-header {
    font-size: 5rem;
    font-family: "Titillium Web";
    color: #3a3a3a;
    text-align: center;
    padding: 8rem;
    margin-bottom: 3rem;
  }
}

///////////////////////////////////////////
/// FLIPPING CARD

.flip {
  &-container-main {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem 1fr 10rem;
    grid-template-rows: 1fr 10rem 1fr;
  }

  &-container {
    perspective: 800px;
    display: flex;
    justify-content: center;
  }

  &-container-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &-container-2 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  &-container-3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  &-container-4 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }

  &-container-1:hover > &-card-1 {
    cursor: pointer;
    transform: rotateY(180deg);
  }

  &-container-2:hover > &-card-2 {
    cursor: pointer;
    transform: rotateY(180deg);
  }

  &-container-3:hover > &-card-3 {
    cursor: pointer;
    transform: rotateY(180deg);
  }

  &-container-4:hover > &-card-4 {
    cursor: pointer;
    transform: rotateY(180deg);
  }

  &-card {
    height: 50rem;
    width: 40rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }

  &-front,
  &-back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }

  &-front-1 {
    background-image: url("/images/personal-trainer-1.jpg");
    object-fit: cover;
    object-position: center;
  }

  &-front-2 {
    background-image: url("/images/personal-trainer-2.jpg");
    object-fit: cover;
    object-position: center;
  }

  &-front-3 {
    background-image: url("/images/personal-trainer-3.jpg");
    object-fit: cover;
    object-position: center;
  }

  &-front-4 {
    background-image: url("/images/personal-trainer-4.jpg");
    object-fit: cover;
    object-position: center;
  }

  &-back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    gap: 5rem;
    font-size: 2rem;
    color: white;
    font-family: "Poppins";
  }

  &-paragraph {
    padding: 2rem;
  }
}

///////////////////////////////////////////////
/// FOOTER

.footer {
  &-list-1 {
    display: flex;
    list-style: none;
    justify-self: center;
    align-self: center;
    margin-top: 3rem;
  }

  &-list-2 {
    display: flex;
    list-style: none;
    align-self: center;
    margin-top: 2rem;
  }

  &-link {
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    font-family: "Poppins";
    margin: 2rem;
  }

  &-link:hover {
    color: lightgrey;
  }

  &-logo-container {
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
    flex-grow: 1;
    align-items: center;
  }

  &-logo {
    margin-right: 2rem;
    width: 5rem;
  }

  &-copyright {
    color: white;
    font-size: 2rem;
    font-family: "Poppins";
    margin-left: 2rem;
  }
}

////////////////////////////////////
/// MAIN CONTENT ABOUT

.main-content-about {
  &-container-img {
    position: relative;
  }

  &-container-text {
    color: #3a3a3a;
    font-size: 2.4rem;
    padding: 3rem;
    margin-top: 3rem;
    font-family: "Poppins";
  }

  &-container-img-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(/images/about-image-1-desktop.jpg);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  &-container-img-1:hover {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(/images/about-image-1-desktop.jpg);
  }

  &-container-img-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(/images/about-image-2-desktop.jpg);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  &-container-img-2:hover {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(/images/about-image-2-desktop.jpg);
  }

  &-container-img-3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(/images/about-image-3-desktop.jpg);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  &-container-img-3:hover {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(/images/about-image-3-desktop.jpg);
  }

  &-container-img-4 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(/images/about-image-4-desktop.jpg);

    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all 2s;
    transition-delay: 0s; /* add transition delay of 0 seconds */
  }

  &-container-img-4:hover {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(/images/about-image-4-desktop.jpg);
    transition-delay: 0.5s; /* add transition delay of 0.5 seconds */
  }

  &-container-text-1 {
  }

  &-container-text-2 {
  }

  &-container-text-3 {
  }

  &-container-text-4 {
  }

  &-header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Poppins";
    font-size: 3rem;
  }
}

////////////////////////////////////////////////////
/// MEMBERSHIP SELECT

.membership-select {
  &-heading {
    font-size: 5rem;
    color: #3a3a3a;
    font-family: "Titillium Web";
    margin-top: 4rem;
  }

  &-sub-heading {
    font-size: 3rem;
    color: #3a3a3a;
    font-family: "Titillium Web";
  }

  &-sub-heading-1 {
    margin-top: 2rem;
  }

  &-sub-heading-2 {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    width: 95vw;
  }

  &__card {
    background-color: #f6f6f6;
    margin: 0 5rem;
    width: calc(33% - 4em);
    border-radius: 5px;
    margin-bottom: 5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    &-heading {
      padding: 2rem;
      background-color: #f51743;
      font-size: 3rem;
      white-space: nowrap;
      color: white;
      font-family: "Poppins";
      font-weight: 300;
      text-align: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &-list {
      list-style: none;
    }

    &-list-item {
      font-size: 2rem;
      font-family: "Poppins";
      padding: 1.2rem;
      text-align: center;
    }

    &-list-item-1 {
      margin-top: 2rem;
    }

    &-list-item-link {
      font-size: 1.8rem;
      text-align: center;
      color: #3a3a3a;
      font-family: "Poppins";
      margin-bottom: 4rem;
      margin-top: 2rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-pass-top {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
  }

  &-pass-heading {
    font-size: 5rem;
    font-family: "Titillium Web";
    color: #3a3a3a;
    margin-top: 5rem;
  }

  &-pass-subheading {
    font-size: 2.8rem;
    font-family: "Titillium Web";
    color: #3a3a3a;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  &-pass-bottom {
    display: grid;
    grid-template-columns: 45vw 1fr;
  }

  &-pass-bottom-3 {
    margin-bottom: 10rem;
  }

  &-pass-image {
    max-width: 50vw;
  }

  &-pass-info {
    background-color: #f51743;
    color: white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 20%;
  }

  &-pass-list {
    list-style: none;
  }

  &-pass-list-item {
    font-size: 1.8rem;
    font-family: "Poppins";
    margin-bottom: 2rem;
    padding-left: 2rem;
    display: flex;
    align-content: center;
    align-items: center;
    font-weight: 300;
  }

  &-pass-icon {
    font-size: 4rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
}

/////////////////////////////////////////////////////////////////////////////
/// SWIPER

.swiper {
  &-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-color: #f6f6f6;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  &-image-container {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  &-image {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  &-content {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  &-content-name {
    font-size: 2.6rem;
    font-family: "Poppins";
    color: #3a3a3a;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &-content-review {
    font-size: 2rem;
    font-family: "Poppins";
    color: #474747;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &-content-star-rating {
  }

  &-content-star {
    color: #f51743;
    font-size: 3rem;
  }

  &-button-next {
    color: #f51743 !important;
  }

  &-button-prev {
    color: #f51743 !important;
  }
}
