html {
  font-size: 62.5%;
  box-sizing: inherit;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 45%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

.nav-img-container {
  display: flex;
  align-items: center;
}
.nav-img {
  width: 7rem;
}
.nav-link-container {
  display: flex;
  flex-grow: 1;
  font-size: 2.4rem;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-link-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .nav-link-container ul {
    display: none;
  }
}
.nav-link {
  color: white;
  font-weight: 500;
  margin-right: 4rem;
  text-decoration: none;
}
.nav-link:hover {
  color: lightgray;
}
.nav-link:active {
  color: lightgray;
}
.nav-link6 {
  margin-right: 10rem;
}
.nav ul {
  list-style: none;
}

.nav-toggle-nav {
  position: fixed;
  display: flex;
  max-height: 0;
  overflow: hidden;
  top: 12vh;
  width: 100vw;
  height: 90vh;
  background-color: #f51743;
  justify-items: center;
  opacity: 0.95;
  transition: all 0.5s ease-out;
}
.nav-toggle-link {
  color: white;
  font-weight: 400;
  margin-right: 4rem;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 4rem;
  margin-left: 1rem;
  text-align: center;
}
.nav-toggle-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-grow: 1;
}
.nav-toggle-list {
  margin-top: 1rem;
  flex-grow: 1;
}
.nav-toggle-link:hover {
  color: lightgray;
}
.nav-toggle-button .bar {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 1.5rem;
  transition: transform 0.2s ease-out;
}
.nav-toggle-button.open .bar:nth-child(1) {
  transform: translateY(1.05rem) rotate(45deg);
}
.nav-toggle-button.open .bar:nth-child(2) {
  opacity: 0;
}
.nav-toggle-button.open .bar:nth-child(3) {
  transform: translateY(-1.05rem) rotate(-45deg);
}
.nav-toggle-active {
  max-height: 100%;
  padding: 2rem 0;
}
.nav-toggle-button {
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 2.5rem;
}
@media only screen and (max-width: 800px) {
  .nav-toggle-button {
    display: flex;
  }
}

.hero-heading {
  color: white;
  font-size: 5rem;
  font-family: "Titillium Web";
  font-weight: 300;
}
.hero-button {
  background-color: transparent;
  padding: 2rem;
  color: white;
  font-size: 3.2rem;
  font-family: "Titillium Web";
  font-weight: 300;
  border: 3px white solid;
  margin-top: 4rem;
}
.hero-link {
  text-decoration: none;
  color: white;
}
.hero-button:hover {
  transform: scale(1.05);
}
.hero-button:active {
  color: lightgrey;
  transform: scale(1.1);
  border: 3.5px lightgrey solid;
}

.CTA-header {
  font-size: 4rem;
  color: white;
  font-family: "Titillium Web";
  font-weight: 400;
  margin-right: 4rem;
}
.CTA-header-span {
  font-size: 4.2rem;
  font-weight: 600;
  color: white;
}
.CTA-button {
  background-color: transparent;
  padding: 1rem;
  color: white;
  font-size: 3.2rem;
  font-family: "Titillium Web";
  font-weight: 400;
  border: 3px white solid;
}
.CTA-button:active {
  transform: scale(1.1);
  border: 3.5px lightgrey solid;
}
.CTA-link {
  text-decoration: none;
  color: white;
}

.personal-trainer-header {
  font-size: 5rem;
  font-family: "Titillium Web";
  color: #3a3a3a;
  text-align: center;
  padding: 8rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

.flip-container-main {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem 1fr 10rem;
  grid-template-rows: 1fr 10rem 1fr;
}
.flip-container {
  perspective: 800px;
  display: flex;
  justify-content: center;
}
.flip-container-1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.flip-container-2 {
  grid-column: 4/5;
  grid-row: 1/2;
}
.flip-container-3 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.flip-container-4 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.flip-container-1:hover > .flip-card-1 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.flip-container-2:hover > .flip-card-2 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.flip-container-3:hover > .flip-card-3 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.flip-container-4:hover > .flip-card-4 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.flip-card {
  height: 50rem;
  width: 40rem;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.flip-front, .flip-back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.flip-front-1 {
  background-image: url("/images/personal-trainer-1.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.flip-front-2 {
  background-image: url("/images/personal-trainer-2.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.flip-front-3 {
  background-image: url("/images/personal-trainer-3.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.flip-front-4 {
  background-image: url("/images/personal-trainer-4.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.flip-back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  gap: 5rem;
  font-size: 2rem;
  color: white;
  font-family: "Poppins";
}
.flip-paragraph {
  padding: 2rem;
}

.footer-list-1 {
  display: flex;
  list-style: none;
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
}
.footer-list-2 {
  display: flex;
  list-style: none;
  align-self: center;
  margin-top: 2rem;
}
.footer-link {
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
  font-family: "Poppins";
  margin: 2rem;
}
.footer-link:hover {
  color: lightgrey;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  justify-self: flex-start;
  flex-grow: 1;
  align-items: center;
}
.footer-logo {
  margin-right: 2rem;
  width: 4.5rem;
}
.footer-copyright {
  color: white;
  font-size: 1.8rem;
  font-family: "Poppins";
  margin-left: 2rem;
}

.main-content-about-container-img {
  position: relative;
}
.main-content-about-container-text {
  color: #3a3a3a;
  font-size: 2rem;
  padding: 3rem;
  margin-top: 3rem;
  font-family: "Poppins";
}
.main-content-about-container-img-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/about-image-1-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.main-content-about-container-img-1:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/about-image-1-desktop.jpg);
}
.main-content-about-container-img-2 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/about-image-2-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.main-content-about-container-img-2:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/about-image-2-desktop.jpg);
}
.main-content-about-container-img-3 {
  grid-row: 3/4;
  grid-column: 1/2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/about-image-3-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.main-content-about-container-img-3:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/about-image-3-desktop.jpg);
}
.main-content-about-container-img-4 {
  grid-row: 4/5;
  grid-column: 2/3;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/about-image-4-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  transition: all 2s;
  transition-delay: 0s; /* add transition delay of 0 seconds */
}
.main-content-about-container-img-4:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/about-image-4-desktop.jpg);
  transition-delay: 0.5s; /* add transition delay of 0.5 seconds */
}
.main-content-about-header {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins";
  font-size: 3rem;
}

.membership-select-heading {
  font-size: 5rem;
  color: #3a3a3a;
  font-family: "Titillium Web";
  font-weight: 300;
  margin-top: 4rem;
}
.membership-select-sub-heading {
  font-size: 3rem;
  font-weight: 300;
  color: #3a3a3a;
  font-family: "Titillium Web";
}
.membership-select-sub-heading-1 {
  margin-top: 2rem;
}
.membership-select-sub-heading-2 {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.membership-select-container {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}
.membership-select__card {
  background-color: #f6f6f6;
  margin: 0 5rem;
  width: calc(33% - 4em);
  border-radius: 5px;
  margin-bottom: 5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.membership-select__card-heading {
  padding: 2rem;
  background-color: #f51743;
  font-size: 3rem;
  white-space: nowrap;
  color: white;
  font-family: "Poppins";
  font-weight: 300;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.membership-select__card-list {
  list-style: none;
}
.membership-select__card-list-item {
  font-size: 2rem;
  font-family: "Poppins";
  padding: 1.2rem;
  text-align: center;
}
.membership-select__card-list-item-1 {
  margin-top: 2rem;
}
.membership-select__card-list-item-link {
  font-size: 1.8rem;
  text-align: center;
  color: #3a3a3a;
  font-family: "Poppins";
  margin-bottom: 4rem;
  margin-top: 2rem;
  text-decoration: underline;
  cursor: pointer;
}
.membership-select-pass-top {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}
.membership-select-pass-heading {
  font-size: 5rem;
  font-family: "Titillium Web";
  color: #3a3a3a;
  margin-top: 5rem;
  font-weight: 300;
}
.membership-select-pass-subheading {
  font-size: 3rem;
  font-family: "Titillium Web";
  color: #3a3a3a;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 300;
}
.membership-select-pass-bottom {
  display: grid;
  grid-template-columns: 45vw 1fr;
}
.membership-select-pass-bottom-3 {
  margin-bottom: 10rem;
}
.membership-select-pass-image {
  max-width: 50vw;
}
.membership-select-pass-info {
  background-color: #f51743;
  color: white;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 20%;
}
.membership-select-pass-list {
  list-style: none;
}
.membership-select-pass-list-item {
  font-size: 1.8rem;
  font-family: "Poppins";
  margin-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  align-content: center;
  align-items: center;
  font-weight: 300;
}
.membership-select-pass-icon {
  font-size: 4rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-color: #f6f6f6;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.swiper-image-container {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.swiper-image {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.swiper-content {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.swiper-content-name {
  font-size: 2.6rem;
  font-family: "Poppins";
  color: #3a3a3a;
  font-weight: 300;
  margin-bottom: 3rem;
}
.swiper-content-review {
  font-size: 2rem;
  font-family: "Poppins";
  color: #474747;
  font-weight: 300;
  margin-bottom: 3rem;
}
.swiper-content-star {
  color: #f51743;
  font-size: 3rem;
}
.swiper-button-next {
  color: #f51743 !important;
}
.swiper-button-prev {
  color: #f51743 !important;
}

.success-stories-heading {
  font-size: 5rem;
  color: #3a3a3a;
  font-family: "Titillium Web";
  padding: 8rem;
  text-align: center;
  font-weight: 300;
}
.success-stories-1, .success-stories-2, .success-stories-3 {
  display: flex;
}
.success-stories-after-image {
  width: 35rem;
}
.success-stories-image-container {
  position: relative;
  margin-left: 5rem;
  margin-bottom: 5rem;
}
.success-stories-before-image {
  width: 35rem;
  transition: opacity 1s ease-in-out;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}
.success-stories-before-image:hover {
  opacity: 0;
  cursor: pointer;
}
.success-stories-content {
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success-stories-name {
  font-size: 3rem;
  font-family: "Poppins";
  color: #3a3a3a;
  align-self: flex-start;
}
.success-stories-paragraph {
  margin-right: 6rem;
  font-size: 2rem;
  font-family: "Poppins";
  font-weight: 300;
  color: #474747;
  margin-top: 2rem;
}

.form-form {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem 15rem 15rem;
}
@media only screen and (max-width: 62.5em) {
  .form-form {
    width: 90vw;
  }
}
.form-header {
  font-size: 5rem;
  color: #3a3a3a;
  font-family: "Titillium Web";
  padding: 8rem;
  text-align: center;
  font-weight: 300;
}
.form-label {
  color: #f51743;
  font-size: 2.4rem;
  font-family: "Poppins";
  flex-basis: 25%;
}
.form-input {
  width: 30rem;
  height: 6rem;
  font-size: 2rem;
  font-family: "Poppins";
  color: #3a3a3a;
  padding: 0 0.5rem;
}
.form-part {
  display: flex;
  justify-items: center;
  align-items: center;
}
.form-part-5 {
  grid-row: 3/4;
  grid-column: 1/-1;
  justify-content: center;
  align-content: center;
}
.form-button {
  background-color: #f51743;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 2.4rem;
  font-family: "Poppins";
  padding: 1.5rem 7rem;
  margin-bottom: 6rem;
}
.form-button:active {
  transform: scale(1.1);
}

.main-content-services-container-img {
  position: relative;
}
.main-content-services-container-text {
  color: #3a3a3a;
  font-size: 2rem;
  padding: 3rem;
  margin-top: 3rem;
  font-family: "Poppins";
}
.main-content-services-container-img-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/services-image-1-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.main-content-services-container-img-1:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/services-image-1-desktop.jpg);
}
.main-content-services-container-img-2 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/services-image-2-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.main-content-services-container-img-2:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/services-image-2-desktop.jpg);
}
.main-content-services-container-img-3 {
  grid-row: 3/4;
  grid-column: 1/2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/services-image-3-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.main-content-services-container-img-3:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/services-image-3-desktop.jpg);
}
.main-content-services-container-img-4 {
  grid-row: 4/5;
  grid-column: 2/3;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/services-image-4-desktop.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  transition: all 2s;
  transition-delay: 0s; /* add transition delay of 0 seconds */
}
.main-content-services-container-img-4:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/services-image-4-desktop.jpg);
  transition-delay: 0.5s; /* add transition delay of 0.5 seconds */
}
.main-content-services-header {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins";
  font-size: 3rem;
}

.nav {
  display: flex;
  background-color: #f51743;
  height: 12vh;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/hero-banner-desktop.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/hero-banner-tablet.jpg");
  }
}
@media only screen and (max-width: 500px) {
  .hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/hero-banner-phone.jpg");
  }
}

.hero-about {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-about-desktop.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .hero-about {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-about-tablet.jpg");
  }
}
@media only screen and (max-width: 500px) {
  .hero-about {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-about-phone.jpg");
  }
}

.hero-membership {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-membership-desktop.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .hero-membership {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-membership-tablet.jpg");
  }
}
@media only screen and (max-width: 500px) {
  .hero-membership {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-membership-phone.jpg");
  }
}

.hero-testimonial {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-testimonial-desktop.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .hero-testimonial {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-testimonial-tablet.jpg");
  }
}
@media only screen and (max-width: 500px) {
  .hero-testimonial {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-testimonial-phone.jpg");
  }
}

.hero-testimonial {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-testimonial-desktop.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .hero-testimonial {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-testimonial-tablet.jpg");
  }
}
@media only screen and (max-width: 500px) {
  .hero-testimonial {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-testimonial-phone.jpg");
  }
}

.hero-services {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-services-desktop.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .hero-services {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-services-tablet.jpg");
  }
}
@media only screen and (max-width: 500px) {
  .hero-services {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-services-phone.jpg");
  }
}

.hero-contact {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-contact-desktop.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .hero-contact {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-contact-tablet.jpg");
  }
}
@media only screen and (max-width: 500px) {
  .hero-contact {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/hero-banner-contact-phone.jpg");
  }
}

.CTA {
  height: 20vh;
  background-color: #f51743;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-trainer {
  background-color: #f6f6f6;
  padding-bottom: 8rem;
}

.main-content-about,
.main-content-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60rem 60rem 60rem 60rem;
  margin: 10rem 0;
}

.footer {
  background-color: #f51743;
  height: 40vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 75em) {
  .footer {
    height: 35vh;
  }
}
@media only screen and (max-width: 62.5em) {
  .footer {
    height: 30vh;
  }
}

.membership-select {
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper {
  width: 95vw;
  height: 60vh;
  background-color: #f6f6f6;
}

.success-stories {
  background-color: white;
}

.form {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPDcZTIAOhVxoMyOr9n_E7ffBzCGItzYw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}/*# sourceMappingURL=main.css.map */